a {
  outline:none;  
}

.thumbnail-image {
   padding: 0;
   margin: 5px;
    
}
body {
  font-family: 'Josefin Sans';  
  background-color: rgb(39,39,39); 
  height: 1200px;

}
#viewer {
  .absolute;
}
#viewer-img {
 width: 760px;
}

.panel {
  margin-top: 60px;  
}


#contact-form {
  color: #999;
  textarea, input{
    vertical-align: top;
    height: 20px;  
    font-family: Arial; 
    font-size: 12px;
    padding: 2px;
  }
}




.shadowy {
  -webkit-box-shadow: 0px 0px 5px #000;
  -moz-box-shadow: 0px 0px 5px #000;
  box-shadow: 0px 0px 5px #000;
}
.absolute {
  position: absolute;  
}

#main-logo {
  color: rgb(70,70,70);
  .absolute;
  left: 10px;
  font-size: 20px;
  cursor: pointer;
}
.thumb {
  width: 43px;
  height: 43px;
}
#thumbs {
  z-index: 990;
  @width: 200px;
  right: -1 * @width;
  .absolute;
  background-color: green;
  height: 640px;
  width: @width;
}
#home {
      
}

#links {
  float: right;
}

#links a {
  margin-right: 15px;
  font-size: 20px;
  color: rgb(100,100,100);
  text-decoration: none;
}

#home-wrapper {
  margin-top: 5%;
  position: relative;
  width: 960px;
  height: 640px;
  .shadowy;
  overflow: hidden;
}

#banner {
  z-index: 1000;
  width: 960px;
  .shadowy;
  .absolute;
  top: 550px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
}
