@siteWidth: 960px;
@bannerHeight: 35px;
@lightGray:  rgb(196, 196, 196); 
@gray2 : rgb(139, 143, 146);
.arrow {
  font-size: 60px;
  z-index: 10000;
  color: white;
  position: absolute;
  top: 100px;
}

.bullet {
  .absolute;  
  z-index: 100;
  color: blue;
  display: none;
 bottom: -5px;
}

.bullet.wedding {
  left: 435px;  
}

.bullet.portrait {
  left: 524px;  
}

.bullet.commercial {
  left: 621px;  
}

.bullet.blog {
  left: 707px;  
}

.bullet.contact {
  left: 783px;  
}

.bullet.onlineviewing {
  left: 885px;  
}

.left-slide-show-arrow {
  left: 0;
  display: none;
}


.right-slide-show-arrow {
  right: 0;
  display: none;
}

a {
  outline:none;  
}

.thumbnail-image {
   padding: 0;
   margin: 5px;
    
}
body {
  font-family: 'CenturyGothicRegular';  
  background-color: @lightGray;
  height: 1200px;

}
#viewer {
  margin-top: @bannerHeight;
  .absolute;
}
#viewer-img {
 width: 760px;
}

.panel {
  margin-top: @bannerHeight;
}

#slide-show {
  margin-top: @bannerHeight;
}


#contact-form {
  display: none;
  .absolute;
  left: 200px;
  top: 200px;
  color: #999;
  textarea, input{
    vertical-align: top;
    height: 20px;  
    font-family: Arial; 
    font-size: 12px;
    padding: 2px;
  }
}


img {
  border: none;  
}

.shadowy {
  -webkit-box-shadow: 0px 0px 5px #000;
  -moz-box-shadow: 0px 0px 5px #000;
  box-shadow: 0px 0px 5px #000;
}
.absolute {
  position: absolute;  
}

#main-logo {
  .absolute;
  left: 10px;
  font-size: 20px;
  cursor: pointer;
}
.thumb {
  width: 43px;
  height: 43px;
}
#thumbs {
  margin-top: @bannerHeight;
  background-color: @lightGray;
  z-index: 990;
  @width: 200px;
  right: -1 * @width;
  .absolute;
  height: 640px;
  width: @width;
  
}
#home {
      
}

#links {
  float: right;
}

#links a {
  margin-right: 15px;
  font-size: 20px;
  text-decoration: none;
}

#home-wrapper {
  margin-top: 5%;
  position: relative;
  width: @siteWidth;
  height: 640px;
  overflow: hidden;
  .gray-border
}


.gray-border {
  border: 1px solid @gray2;
}

#banner-img {
  .absolute;
  top: 0;
  left: 0;
}

#banner {
  padding-top: 6px;
  height: 29px;
  z-index: 1000;
  width: 960px;
  /*.shadowy;*/
  .absolute;
  top: -1px;

  left: -1px;
  .gray-border;
}


#copyrt {
  width: 250px;
  .absolute;
  right: 0;
}

#footer {
  
  position: relative;
  width: @siteWidth;
}
